{
  "singleQuote": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "experimentalTernaries": false
}
